.home-wrapper {
    background-color: #101010; 
    min-height: 100vh; 
    color: #f0f0f0; 
    padding: 20px; 
}

.card-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 20px;
    padding: 20px; 
}


.card-wrapper .card {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    padding: 20px;
    background-color: #181818; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    overflow: hidden; 
}



.card-wrapper .card .photo {
    display: flex;
    align-items: center; 
    margin-bottom: 15px; 
}


.card-wrapper .card .photo img {
    margin-right: 20px;
    width: 60px; 
    height: 60px;
    border-radius: 50%;
    border: 2px solid #777; 
}


.user-information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15px; 
    word-wrap: break-word;
}


.card-wrapper .card .username {
    font-size: 1.2em; 
    font-weight: bold;
    margin-bottom: 10px;
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap; 
}

.card-wrapper .card .text {
    font-size: 1em;
    line-height: 1.5;
    margin-bottom: 15px; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: normal; 
}


.card-wrapper .card .buttons-wrapper {
    display: flex;
    justify-content: flex-end; 
    gap: 10px; 
}


.card-wrapper .card .buttons-wrapper button {
    background-color: #777; 
    color: #fff;
    border: none;
    font-weight: 700;
    padding: 8px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.card-wrapper .card .buttons-wrapper button:hover {
    background-color: #555; 
}


.card-wrapper h1 {
    width: 100%;
    font-size: 3em;
    color: #fff;
    text-align: center;
    margin-bottom: 50px; 
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); 
    animation: fadeIn 1s ease-in-out; 
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}