.register-wrapper {
  min-height: 85.1vh;
  background-color: rgb(16, 16, 16);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.register-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 30px;
}

.register-info input {
  width: 400px;
  padding: 15px;
  outline: none;
  font-size: 20px;
  margin-top: 10px;
  background-color: rgb(30, 30, 30);
  color: white;
  border: 1px solid #333;
  border-radius: 5px;
}

.register-info input:focus {
  border: 1px solid rgb(119, 119, 119);
}

.register-info button {
  width: 435px;
  padding: 15px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  background-color: white;
  color: rgb(16, 16, 16);
  cursor: pointer;
}

.register-info p {
  align-self: center;
}

.register-info p a {
  text-decoration: none;
  color: white;
}

.register-error {
  position: fixed;
  top: 45%;
  left: 84%;
  padding: 10px;
  border: 2px solid white;
  color: red;
  font-weight: bold;
}
